<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.test.mapper.StudentMapper">
  
  	<select id="queryStudentByNo" parameterType="int" resultType="com.test.entity.Student">
  		select * from student where stuno=#{stuNo}
  	</select> 
  
  
  </mapper>